@use "../scss/variables.scss";

.RadioLoader {
    z-index: 99;
    display: fixed;
    position: absolute;
    top: calc(50lvh - 125px);
    left: calc(50lvw - 100px);
    content: "";
    width: 200px;
    height: 200px;
    animation: RadioLoaderAnimation 6s linear infinite;
    border: 25px dotted variables.$accent-color;
    border-radius: 50%;
}

.RadioLoader::after {
    display: fixed;
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    animation: RadioLoaderAnimation 4s linear infinite;
    border: 25px dotted variables.$accent-color;
    border-radius: 50%;
}

.RadioLoader::before {
    display: fixed;
    position: absolute;
    content: "";
    width: 220px;
    height: 220px;
    animation: RadioLoaderAnimation 9s linear infinite;
    border: 25px dotted variables.$accent-color;
    border-radius: 50%;
}

@keyframes RadioLoaderAnimation {
    0% {
        transform: rotate(0deg);
        border-color: white;
    }
    50% {
        transform: rotate(180deg);
        border-color: variables.$accent-color;
    }
    100% {
        transform: rotate(360deg);
        border-color: white;
    }
}
