@use "../scss/variables.scss";

.RadioNavbar {
    background-color: variables.$primary-color;
    color: white;
    gap: 0.8rem;
    display: grid;
    position: sticky;
    top: 0;
    z-index: 111;
    grid-template: 3rem / min-content min-content min-content min-content 1fr;
    padding: 4px 0;
    .link {
        color: white;
        font-size: 1.1rem;
        margin: auto;
    }
    .logo {
        width: 2.2rem;
        height: 2.2rem;
        margin: auto auto auto 0.5rem;
    }
    .search {
        background-color: variables.$lighter-color;
        border-radius: 1rem;
        margin: auto 1rem auto auto;
        padding: 0.5rem 1rem;
        color: #d1d1d1;
    }
    .search {
        .input:focus {
            color: white;
        }
    }
}
