@use "../scss/variables.scss";

.btn {
    background-color: darken($color: variables.$accent-color, $amount: 20);
    color: white;
    width: max-content;
    height: 2.2rem;
    margin: auto 12px 0 auto;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: darken($color: variables.$accent-color, $amount: 25) !important;
    transition: .3s;
}

.btn.active {
    background-color: darken($color: variables.$alt-color, $amount: 25) !important;
    cursor: default;
}

.list {
    display: grid;
    margin: 1rem 5% 0 5%;
    gap: 16px;
    .select {
        color: white;
        margin: 0;
        position: relative;
        top: 20px;
        font-size: 1.2rem;
    }
    .day {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        margin: 12px auto 0 auto;
        justify-content: center;
    }
    .header {
        font-size: 1.6rem;
        margin: 0 0 0 0;
        color: white;
        width: 100%;
        text-align: center;
    }
    .header-big {
        font-size: 2.1rem;
        margin: 0 0 0 0;
        color: white;
    }
    .info .header {
        color: black;
    }
    .info {
        padding: 1rem;
        display: grid;
        gap: 0.3rem;
    }
    .box {
        width: 100%;
        max-width: 330px;
        display: grid;
        backdrop-filter: brightness(2.2) contrast(1.5) saturate(0.3);
        border-radius: 5px;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
        padding-bottom: 8px;
        .head {
            display: flex;
            gap: 16px;
            background-color: variables.$primary-color;
            width: calc(100% + 1px); // rounding error fix for backdrop-filter and background-color
            color: white;
            border-radius: 5px 5px 0 0;
            clip-path: stroke-box;
            height: 3.6rem;
            .image {
                height: 100%;
            }
            .name {
                font-size: 1.1rem;
                margin: auto 0;
            }
        }
        .tagline {
            margin: 8px 10px 8px 10px;
        }
        .broadcast {
            margin: 3px auto 3px auto;
            height: 100%;
            font-size: 0.9rem;
            color: darken($color: variables.$accent-color, $amount: 30);
            text-align: center;
        }
    }
    .box:last-of-type {
        margin-bottom: 1rem;
    }
    .controls {
        display: grid;
        grid-template: 1fr 1fr / repeat(3, 6rem);
        gap: 1rem;
        font-size: 0.9rem;
        place-content: center;
        .btn {
            width: 100%;
            text-align: center;
        }
        .select {
            grid-column: 3 span;
            text-align: center;
        }
    }
    .row {
        display: grid;
        justify-content: end;
        grid-template: 1fr / max-content max-content;
    }
    .image-wide {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .btn.favorite {
        background-color: variables.$alt-color !important;
    }
    .btn.favorite:hover {
        background-color: darken($color: variables.$alt-color, $amount: 30) !important;
    }
}

.group {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    margin: auto;
    place-content: start center;
    .item {
        display: grid;
        place-content: center;
        height: min-content;
        background-color: variables.$primary-color;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
        padding: 12px;
        margin: 0.3rem;
        color: white;
    }
}

.message {
    display: grid;
    place-content: center;
    height: 150px;
    .header {
        font-size: 2rem;
        color: white;
    }
}

.view {
    backdrop-filter: saturate(30%) brightness(20%);
    padding: 12px;
    width: 100%;
    min-height: calc(100svh - 2rem);
    color: white;
    .limit {
        max-width: 720px;
        margin: auto;
    }
    .header-big {
        font-size: 2.2rem;
    }
    .header {
        font-size: 2.2rem;
    }
    .info {
        display: grid;
        gap: 0.4rem;
    }
    .image-wide {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: top;
        border-radius: 10px;
        margin: 0.3rem auto;
    }
}